body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

h2,
li p {
  background-color: #5208b6;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.5);
  width: fit-content;
  color: white;
}

h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 80%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  outline: none;
  background-color: white;
}

.multi-select {
  width: 85.5%;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2);
}

.submit-button {
  width: 50%;
  padding: 0.75rem;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #0056b3;
}

.close-button {
  position: relative;
  left: 50%;
  top: -10vh;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
